 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jacinto 2.0 is a platform where you can create and/or solve clinical cases with learning purposes. Cases are distributed on several topics.</p>
                </div>
                <div class="col-lg-4">
                    <p>You can act as a learner, solving clinical cases inspired in the real world. You can likewise participate in creating new cases to be solved by others.</p>
                </div>
            </div>
        </div>
    </section>
